<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Toxic Souls</title>
  <!-- FONT AWESONE -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <!-- FONT OSWALD -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap" rel="stylesheet">
  <!-- SCROLL REVEAL -->
  <script src="https://unpkg.com/scrollreveal"></script>
  <!-- CUSTOM CSS -->
  <link rel="stylesheet" href="./events.component.css">
</head>

<body>
  <div class="menu-btn">
    <i class="fas fa-bars"></i>
  </div>

  <nav class="nav-main">
    <img src="../../assets/img/logo_header.png" alt="ToxicSouls Logo" class="nav-brand">
    <ul class="nav-menu">
      <li>
        <a routerLink="/create-event" routerLinkActive="active-link">Crear Evento</a>
      </li>
      <li>
        <a href="#">Modificar Evento</a>
      </li>
    </ul>
  </nav>
</body>

</html>
