<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ToxicSouls</title>
  <!-- CSS -->
  <link rel="stylesheet" href="auth-user.component.css">
  <script type="text/javascript" src="../../../node_modules/jquery/jquery-3.5.1.min.js"></script>
</head>

<body>

  <div class="login-box">
    <img src="../../assets/img/logoTS.png" class="avatar" alt="Avatar Image">
    <h1>Login</h1>
    <form action="menuOpciones.html" method="POST">
      <!-- USERNAME INPUT -->
      <label for="username">Username</label>
      <input id="user" name="user" type="text" placeholder="Enter Username">
      <!-- PASSWORD INPUT -->
      <label for="password">Password</label>
      <input id="pass" name="pass" type="password" placeholder="Enter Password">
      <!-- <input type="submit" value="Log In" onclick="location.href='/menu.html'"> -->
      <input id="boton-guardar" type="submit" value="Log In">
      <a href="#">Lost your Password?</a><br>
      <a href="#">Don't have An account?</a>
    </form>
  </div>
  <script>
    $(document).ready(function () {
      $('#boton-guardar').click(function () {
        /*Captura de datos escrito en los inputs*/
        var nom = document.getElementById("user").value;
        var apel = document.getElementById("pass").value;
        /*Guardando los datos en el LocalStorage*/
        sessionStorage.setItem("Usuario", nom);
        sessionStorage.setItem("Contrasenia", apel);
        /*Limpiando los campos o inputs*/
        // document.getElementById("user").value = "";
        // document.getElementById("pass").value = "";
      });
    });

  </script>
</body>

